#portfolio{
	padding-top: 0rem;
	padding-bottom: 2rem;
}
#portfolio p{
	text-align: center;
}
#portfolio h3{
	text-align: center;
}
#portfolio h3,h4{
	font-size: 1.25rem;
}
#portfolio ul{
	padding-left: 0rem;
}
#portfolio li{
	list-style: none;
	letter-spacing: 1px;
	font-size: 1rem;
}
#portfolio img{
	width: 100%;
}