@import 'css/bootstrap.css';
@import 'css/fontawesome-all.css';
@import 'css/portfolio.css';
@import 'css/blog.css';
@import 'css/about.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*@font-face { font-family: Caviar; src: url('css/CaviarDreams.ttf'); } 
@font-face { font-family: Caviar; font-weight: bold; src: url('css/CaviarDreams_Bold.ttf');}*/
@font-face { font-family: Roboto; font-weight: bold; src: url('css/Roboto-Bold.ttf');}
@font-face { font-family: Roboto; font-weight: 300; src: url('css/Roboto-Light.ttf');}
body{
	background: white;
}
h1,
h2,
h3,
h4{ font-family: 'Roboto', sans-serif;;	
 }
 .home h1,
 h2,
 h3{
 	font-size: 1.5rem;
 }
a:hover {
    color: black;
    text-decoration: none;
}
a.btn-style:hover{
	color: white;
	background-color: #02bdd5;
	border: 1px solid #02bdd5;
}
a.btn-style{
	border: 1px solid black;
	border-radius: 0px;
	background-color: black;
	color: white;
	max-width: 110px;
	display: block;
	margin: 0 auto;
}
input.btn-style:hover{
	color: white;
	background-color: #02bdd5;
	border: 1px solid #02bdd5;
}
input.btn-style{
	border: 1px solid black;
	border-radius: 0px;
	background-color: black;
	color: white;
	max-width: 140px;
	display: block;
	margin: 0 auto;
}
.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: black;
    border-color: black;
}

/*.box-1{
	background: blue;
}
.box-2{
	background: red;
}
.box-3{
	background: green;
}*/
svg{
	width: 2rem;
}
#landing{
	/*background-image: url("img/halloween_pic_1.jpg");*/
	background: /* top, #00000000 #ffffff */ linear-gradient( #ffffff, rgba(255, 255, 255, 0.63) ), /* bottom, image */ url(img/dojo.jpg);
	padding-bottom: 15rem;
	padding-top: 15rem;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 100%;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;


}
/*#landing:before {
    content: '';
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}*/
#about{
	padding: 1rem 0rem;
}
#blog
{
	padding: 4rem 0rem;
}
#hacknight{
	padding-bottom: 2rem;
}
.landing-wrap{
	z-index: 999;
	color: black;

}
.landing-wrap b{
	color: #02bdd5;
}
.landing-wrap h2{
	font-size: 35px;
	line-height: 50px;
	color: #333;
	font-weight: 700;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.landing-wrap h3{
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 38px;
	line-height: 27px;
	text-transform: uppercase;
	color: #666;
	font-family: 'Roboto', sans-serif;
	margin-top: 25px;
}
.container.navigation{
	background: white;
	max-width: 100%;
	position: fixed;
	z-index: 99999;
    border-bottom: 1px solid black;

}
.navigation, a{
	color: black;
	text-decoration: none;
}
.mobile-menu, a{
	color: black;
	text-decoration: none;
}
.container.mobile{
	padding-top: 3rem;
	max-width: 100%;
}
.services ul{
	float: right;
	margin: 1rem 0rem;
}
.services li{
	display: inline-block;
	margin-right: 1rem;
}
.services li:last-of-type{
	margin-right: 0rem;
}
.logo a{
	margin: 1rem 0rem;
	padding: 0rem;
}
ul.social-menu{}
#about{
	margin-top: 1rem;
}
.about-panel{
	background-color: white;
	color: black;
	padding: 1rem;
}
.about-panel img{
	width: 100%;
}
.about-panel.img{
	padding: 0rem;
	background: none;
}
a.link{
	color: #02bdd5;
}
.about-panel .btn{
	margin-top: 2rem;
}

section#portfolio{
	margin: 1rem 0rem;
}
section#portfolio .container{
	padding-bottom: 2rem;
}
section#portfolio ul {
    list-style: none;
    padding-left: 0rem;
    text-align: center;
}
section#portfolio img{
	width: 100%;
}
section#portfolio h2{
	text-align: center;
}
section#portfolio p{
	text-align: center;

}
#before-blog{
	background-image: url("img/futures_fund_1.jpg");
	padding-bottom: 30rem;
	padding-top: 25rem;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 100%;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
#before-hacknight{
	background-image: url("img/hacknight_group.jpg");
	padding-bottom: 30rem;
	padding-top: 25rem;
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 100%;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
/*#blog{
	padding-bottom: 1rem;
}*/
#blog img{
	max-width: 50px;
}
#blog h2{
	display: inline-block;
}
.fa, .fas{
	font-size: 6rem;
}
/*#before-hacknight{
	background-image: url(img/hack_night.jpg);
	padding-bottom: 0rem;
	padding-top: 25rem;
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
*/
#hacknight h2{
	margin-top: 1rem;
	text-align: center;
}
#hacknight img{
	width: 100%;
}
#hacknight{
	background-color: #ffc107;
}



.body-copy-panel{
	padding-bottom: 1rem
}
.menu-container {
    display: inline-block;
    cursor: pointer;
    margin-top: .5rem;
    float: right;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.hide{display: none;}
.show{display: block;}
.nav{
	display: none;
}
.nav svg{
	width: 1.10rem;
	vertical-align: middle;
}
.logo{
	width: 83%;
	padding-left: 1rem;
}
.services{
	width: 17%;
	padding-right: 1rem;
}
.mobile-menu{
	position: relative;
	top: 0;
}
ul.mobile-menu{
	list-style: none;
	padding-left: 0rem;
	text-align: center;
	margin-bottom: 0rem;
}
.mobile-menu li{
	padding: 0.5rem 0rem;
	/*border-bottom: 1px solid black;*/
}
#slider .col-sm-12{
	padding: 0rem;
}
#slider.closed{
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	top: -280px !important;
}
.open{
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	padding-top: 4rem;
	position: fixed;
	z-index: 99998;
	background-color: white;
	top: -40px;
	width: 100%;
	border-bottom: 1px solid black;
}
ul.social-menu {
    list-style: none;
    padding: 0rem;
    text-align: center;
    margin-bottom: 0rem;
    padding-top: .5rem;
}
ul.social-menu li{
	padding: .25rem;
	display: inline-block;
	margin-right: .5rem;
}
ul.social-menu li:last-of-type{
	margin-right: 0rem;
}
ul.social-menu-desktop{
	display: none;
}


.desktop-btn{
	display: none !important;
}
.mobile-btn{
	display: inline-block;
}
.text-center{text-align: center;}
#form{
	margin-bottom: 5rem;
}
footer{
	background-color: black;
    color: white;
    padding: 1rem 0rem;

}
footer p{
	margin-bottom: 0rem
}










/*MOBILE STYLES BEGIN HERE*/
@media only screen and (min-width: 576px) {
	.about-panel{
		padding: 0rem;
	}
}

@media only screen and (min-width: 768px) {
	#landing{
		/*background-image: url("img/halloween_pic_1.jpg");*/
		background: /* top, #00000000 #ffffff */ linear-gradient( #ffffff, rgba(255, 255, 255, 0.63) ), /* bottom, image */ url(img/dojo.jpg);
		padding-bottom: 15rem;
		padding-top: 15rem;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: top;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		height: 100%;
		width: 100%;
		background-position: center center;
		background-repeat: no-repeat;
	}
	#before-blog{
		background-image: url("img/futures_fund_1.jpg");
		padding-bottom: 30rem;
		padding-top: 25rem;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: top;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		height: 100%;
		width: 100%;
		background-position: center center;
		background-repeat: no-repeat;
	}
	#before-hacknight{
		background-image: url("img/hacknight_group.jpg");
		padding-bottom: 30rem;
		padding-top: 25rem;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: top;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		height: 100%;
		width: 100%;
		background-position: center center;
		background-repeat: no-repeat;
	}


	.landing-wrap h2{
		font-size: 40px;
	}
	.mobile-btn{
		display: none !important;
	}
	.desktop-btn{
		display: block;
	}
	ul.social-menu-desktop {
	    list-style: none;
	    padding: 0rem;
	    text-align: center;
	    margin-bottom: 0rem;
	    padding-top: 0rem;
	    margin-top: 0.5rem;
	    margin-right: 1rem;
	    display: inline-block;
	    float: right;
	}
	.social-menu-desktop svg {
	    width: 1.5rem;
	}
	ul.social-menu-desktop li {
	    padding: .25rem;
	    display: inline-block;
	    margin-right: .25rem;
	}
	ul.social-menu{
		display: none;
	}
    .menu-container{
    	display: none;
    }
    .nav{
    	display: block;
    }
    .logo{
    	width: 20%
    }
    .logo{
    	padding-right: 1rem;
    }
    .services{
    	width: 80%;
    }
    .mobile-menu{
    	display: none;
    }
}